{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "chrome": "70"
                },
                "modules": false
            }
        ],
        "@babel/preset-typescript"
    ]
}